<div class="container">
  <div class="page-header">
    <h3>{{company.companyName}}</h3>
  </div>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>Beschreibung</td>
            <td>{{company.description}}</td>
          </tr><tr>
            <td>Ort</td>
            <td>{{company.city}}</td>
          </tr><tr>
            <td>Straße</td>
            <td>{{company.street}}</td>
          </tr><tr>
            <td>PLZ</td>
            <td>{{company.zipCode}}</td>
          </tr><tr>
            <td>Website</td>
            <td>{{company.website}}</td>
          </tr><tr>
            <td>Mitarbeiter</td>
            <td>{{company.numberOfEmployees}}</td>
          </tr><tr>
            <td>Jobangebote</td>
            <td>{{company.numberOfOffers}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <a href="#jobs" class="btn">zurück</button>
</div>
