<div class="container">
  <div class="page-header">
    <h3>Job Angebote</h3>
  </div>
  <div class="container row">
    <div class="col-md-4">
      <label for="keyFilter">Suche:</label>
      <input ng-model="textQuery" name="keyFilter" ng-change="change()"/>
    </div>
    <div class="col-md-4">
      <label for="countryFilter">Land</label>
      <select ng-model="countryQuery" name="countryFilter">
        <option value="">alle</option>
        <option ng-repeat="country in countries">{{country.name}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="typeFilter">Typ</label>
      <select ng-model="typeQuery" name="typeFilter" ng-change="change()">
        <option ng-repeat="type in types" value="{{type.shortname}}">{{type.name}}</option>
      </select>
    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Firma</th>
            <th>Typ</th>
            <th>Beschreibung</th>
            <th>Land</th>
            <th>Ort</th>
            <th>Einsatzort</th>
            <th>gültig bis</th>
            <th>Merkzettel</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="job in jobs | filter:countryQuery | filter:textSearch">
            <td><a href="#company/{{job.companyId}}">{{job.companyName}}</a></td>
            <td>{{job.type}}</td>
            <td>{{job.shortDescription}}</td>
            <td>{{job.country}}</td>
            <td>{{job.companyLocation}}</td>
            <td>{{job.usageSite}}</td>
            <td>{{job.validDate}}</td>
            <td>{{job.onNotepad}}</td>
          </tr>
        </tbody>
      </table>
      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>
