<div class="container">
  <div class="page-header">
    <h3>Job Angebote</h3>
  </div>
  <div class="container">
      Land:
      <select ng-model="countryQuery">
          <option value="">alle</option>
          <option>Schland</option>
          <option>Iran</option>
      </select>
  </div>
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Firma</th>
          <th>Typ</th>
          <th>Beschreibung</th>
          <th>Land</th>
          <th>Ort</th>
          <th>Einsatzort</th>
          <th>gültig bis</th>
          <th>Merkzettel</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="job in jobs | filter:countryQuery">
          <td>{{job.companyName}}</td>
          <td>{{job.type}}</td>
          <td>{{job.shortDescription}}</td>
          <td>{{job.country}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
